# Default ignored files
/workspace.xml
!requirements.txt
!.gitignore
.idea/
media/
fixtures/
log/
__pycache__/
tofee/localsettings.py
tofee/localsettings.py
.vscode
*.pyc
.project
*.json
*.db
db.*
venv/