{% extends "base.html" %}
{% load bootstrap4 i18n static %}

{% block content %}
    {% if question_list %}
        <div class="col-12">
            <div class="list-group">
            {% for question in question_list %}
                <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" style="color: #ba4c3d">{{ question.question_text }}</h5>
                        <small>{{ question.pub_date }}</small>
                    </div>
                    <p class="mb-1">{{ question.detail_text }}</p>
                    {% if question.neighborhood.all.count < neighborhood_count %}
                        {% for area in question.neighborhood.all %}
                            <span class="badge badge-primary">{{ area }}</span>
                        {% endfor %}
                    {% endif %}
                </a>
            {% endfor %}
                <div class="row" style="margin-top: 2rem;">
                    <div class="col">
                        <p>Sie haben Fragen oder Anmerkungen? <a href="{% url 'polls:feedback' %}" class="page_title">Schreiben sie uns gerne hier.</a>
                        {% if user.is_authenticated %}
                            Zu den <a href="{% url 'polls:allresults' %}" class="page_title">Ergebnissen aller Umfragen gelangen sie hier.</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Keine Umfragen verfügbar.</p>
        <div class="row" style="margin-top: 2rem;">
            <div class="col">
                <p>Sie haben Fragen oder Anmerkungen? <a href="{% url 'polls:feedback' %}" class="page_title">Schreiben sie uns gerne hier.</a></p>
            </div>
        </div>
    {% endif %}


{% endblock %}