{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 static i18n %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block bootstrap4_title %}{% trans 'tofee' %}{% endblock %}
{% block title %}{% endblock %}


{% block bootstrap4_content %}
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>dortmund.de - Startseite</title>
<meta name="keywords" content="stadt, nachrichten, news, veranstaltungen, events, bürgerservice, verwaltung, service, lokalpolitik, wirtschaft, kultur, freizeit">
<meta name="description" content="Offizielles Stadtportal mit Informationen zu Politik, Wirtschaft, Kultur, Tourismus und Bürgerservice.">
<meta name="author" content="Stadt Dortmund, Dortmund-Agentur">
<meta name="copyright" content="Dortmund-Agentur, Stadt Dortmund">
<meta name="google-site-verification" content="lfFma7wpr208i0DtMLwFHVCAybkFqBFOYdCwWC0oZio">
<meta name="robots" content="index, follow, noodp, noydir">
<link rel="shortcut icon" type="image/x-icon" href="https://www.dortmund.de/favicon.ico">
<link rel="alternate" type="application/rss+xml" title="dortmund.de Nachrichten" href="http://www.dortmund.de/de/dortmund_de/feeds/news_rss.xml">
<link rel="alternate" type="application/rss+xml" title="dortmund.de Veranstaltungskalender" href="http://www.dortmund.de/de/dortmund_de/feeds/vk_rss.xml">
<link rel="canonical" href="http://www.dortmund.de">
<link rel="stylesheet" type="text/css" href="https://www.dortmund.de/media/system/css_1/jquery_ui/jquery-uimin.css">
<link rel="stylesheet" type="text/css" href="https://www.dortmund.de/media/system/css_1/main_dode.css">
<link rel="stylesheet" type="text/css" href="https://www.dortmund.de/media/system/css_1/js_activ.css">
<link rel="stylesheet" type="text/css" href="https://www.dortmund.de/media/system/css_1/tmp7.css">
<link rel="stylesheet" type="text/css" href="https://www.dortmund.de/media/system/css_1/magnific-popup.css">
<script type="text/javascript" async="" defer="" src="https://www.dortmund.de/dortmund.labs.jochum-mediaservices.net/piwik.js"></script><script>
document.createElement( "picture" );
</script>
<script src="https://www.dortmund.de/media/de/system/js/jscollector.js"></script>
<style>
@media (min-width: 1200px) {
#wb-lg a {
width:160px;
height:600px;
display:block;
margin-left: auto;
margin-right: auto;
}
#wb-lg figcaption {
width:160px;
margin-left: auto;
margin-right: auto;
}
#wb-lg a {
margin-left: 0;
margin-right: 0;
}
#wb-lg figcaption {
margin-left: 0;
margin-right: 0;
margin-top: 69px;
}
}
@media (min-width: 992px) AND (max-width: 1199px) {
#wb-md a {
width:728px;
height:90px;
display:block;
margin-left: auto;
margin-right: auto;
}
#wb-md figcaption {
width:728px;
margin-left: auto;
margin-right: auto;
}
}
@media (min-width: 768px) AND (max-width: 991px) {
#wb-sm a {
width:728px;
height:90px;
display:block;
margin-left: auto;
margin-right: auto;
}
#wb-sm figcaption {
width:728px;
margin-left: auto;
margin-right: auto;
}
}
@media (max-width: 767px) {
#wb-xs a {
width:300px;
height:50px;
display:block;
margin-left: auto;
margin-right: auto;
}
#wb-xs figcaption {
width:300px;
margin-left: auto;
margin-right: auto;
}
}
</style>
<noscript>

</noscript>
</head>

    <body>

<h1 class="sr-only">dortmund.de Startseite</h1>
<div id="dued_banner">
<a href="http://dortmund-ueberrascht-dich.de" target="_blank" title="In neuem Fenster öffnen: Dortmund überrascht. Dich."><img src="https://www.dortmund.de/media/system/seitenelemente/logos/logo_dued.gif" alt="Dortmund überrascht. Dich."></a>
</div>
<!-- HEAD Start -->
<header id="kopf" class="row navbar-fixed-top-sm">
<div class="container-fluid" id="unserBody">
<div class="row">

<div id="topNavbarlogoBox" class="navbar-brand" style="padding-left: 20px">
    <a href="{% url 'polls:index' %}" title="Startseite tofee">
    <figure>
    <figcaption><span class="sr-only">Wappen der Stadt Dortmund</span></figcaption>
    </figure>
    </a>
    <div style="padding-left: 20px">
        <a href="{% url 'polls:index' %}" title="Startseite tofee">
        <figure>
        <figcaption><span class="sr-only">Wortmarke dortmund.de</span></figcaption>
        </figure>
        </a>
    </div>
</div>

</div>


<div class="row justify-content-end">
        <!-- admin button -->
        <div class="col-2" style="padding-top: 25px">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="page_title"><button class="btn btn-primary">Zur Adminpage</button></a>
            {% else %}
                 {% if user.is_authenticated %}
                    <a href="{% url 'polls:allresults' %}" class="page_title"><button class="btn btn-primary">Ergebnisse</button></a>
                 {% endif %}
            {% endif %}
        </div><!-- END admin button -->
        {% if True %}
        <!--<i class="fas fa-filter"></i>-->
        <div class="col-2" style="padding-top: 25px">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for category in category_list %}
                        <button class="dropdown-item" type="button">{{ category }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <!-- user information -->
        {% if user.is_authenticated %}
        <div class="col-4.5" style="padding-top: 25px">
            <div class="btn-group" role="group" style="margin-right: 10px">
                <button type="button" class="btn btn-primary">
                    <span style="white-space: nowrap;">{{ user.get_full_name }}</span>
                </button>
                <span type="badge" class="btn btn-secondary">
                    <span style="white-space: nowrap;">{{ user.profile.neighborhood }}</span>
                </span>
            </div>
        </div>
        {% endif %}
        <!-- END user information -->

        <!-- login buttons -->
        <div class="col-1.5" style="padding-top: 25px;padding-right: 20px">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Logout">
                </form>
            {% else %}
                <a href="{% url 'polls:login' %}" class="page_title"><button class="btn btn-primary">Zum Login</button></a>
            {% endif %}
        </div><!-- END login buttons -->
</div>

</header>
<!-- HEAD End -->
    <hr class="narrow" />
    <div class="container">
<div id="kopfPanorama" class="row col-abstandUnten">
<div class="col-xs-12">
<div id="carousel-top-slider" class="carousel slide kopfPanoramaImg">
<div class="carousel-inner" role="listbox">
<div class="item active d-none d-lg-block">
<figure>
<picture>
<source media="(min-width: 1200px)" srcset="https://www.dortmund.de/media/bilder/pool/___allgemein_pool/dortmund/Panorama-Stadt-Standort-Hansaplatz_Roland-Gorecki03_PanoramaGross_LG.jpg">
<source media="(min-width: 992px)" srcset="https://www.dortmund.de/media/bilder/pool/___allgemein_pool/dortmund/Panorama-Stadt-Standort-Hansaplatz_Roland-Gorecki03_PanoramaGross_MD.jpg">
<source media="(min-width: 768px)" srcset="https://www.dortmund.de/media/bilder/pool/___allgemein_pool/dortmund/Panorama-Stadt-Standort-Hansaplatz_Roland-Gorecki03_PanoramaGross_SM.jpg">
<img src="https://www.dortmund.de/media/bilder/pool/___allgemein_pool/dortmund/Panorama-Stadt-Standort-Hansaplatz_Roland-Gorecki03_PanoramaGross_XS.jpg" alt="Westfalenpark">
</picture>
</figure>
</div>
</div>
</div> <!--kopfPanoramaImg-->
</div>
</div> <!--kopfPanorama-->
<!-- RSPEAK_START -->
<!-- RSPEAK_STOP -->
<div id="startseitenInfoZeile" class="row">
<div class="col-xs-12">
<h2 class="font-16 nomargin ">{% now "SHORT_DATETIME_FORMAT" %}</h2>
</div>
</div>



<div class="container">
    <!--<div class="row">
        <div class="col-3" style="padding-top: 20px">
            <h1><a href="{#% url 'polls:index' %#}" class="page_title">tofee</a></h1>
            <h3 class="page_title">{#% block page_title %#}{#% endblock %#}</h3>
        </div>
    </div>-->
    <div class="row">
        <div class="col-12">
            <hr class="narrow" />
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}