{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 static i18n %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}

{% block bootstrap4_title %}{% trans 'tofee' %}{% endblock %}
{% block title %}{% endblock %}


{% block bootstrap4_content %}
<div class="container">
    <div class="row">
        <div class="col-6" style="padding-top: 20px">
            <h1><a href="{% url 'polls:index' %}" class="page_title">tofee</a></h1>
            <h3 class="page_title">{% block page_title %}{% endblock %}</h3>
        </div>
        <div class="col-1.5" style="padding-top: 20px">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="page_title"><button class="btn btn-primary">Zur Adminpage</button></a>
            {% endif %}
        </div><!-- END admin button -->
        <!-- user information -->
        {% if user.is_authenticated %}
        <div class="col-4.5" style="padding-top: 20px">
            <div class="btn-group" role="group" style="margin-right: 10px">
                <button type="button" class="btn btn-primary">
                    <span style="white-space: nowrap;">{{ user.get_full_name }}</span>
                </button>
                <span type="badge" class="btn btn-secondary">
                    <span style="white-space: nowrap;">{{ user.profile.get_neighborhood_display }}</span>
                </span>
            </div>
        </div>
        {% endif %}
        <!-- END user information -->

        <!-- login buttons -->
        <div class="col-1.5" style="padding-top: 20px">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Logout">
                </form>
            {% else %}
                <a href="{% url 'polls:login' %}" class="page_title"><button class="btn btn-primary">Zum Login</button></a>
            {% endif %}
        </div><!-- END login buttons -->
        <!-- admin button -->
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="narrow" />
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}